<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../assets/logo.jpg" alt="logo" style="height: 120px; width: 120px;" />

                        <h1 class="text-center"> Login Here </h1>
                        <!-- -----------Username field--------------------- -------->
                        <form (ngSubmit)="loginSubmit()">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input required [(ngModel)]="user.userName" name="userName" matInput placeholder="Enter Here">
                                <mat-hint>valid username</mat-hint>
                            </mat-form-field>

                            <!-- -----------Password field--------------------- -------->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input required [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter Here">
                            </mat-form-field>

                            <div class="container full-width">
                                <button mat-raised-button color="primary" type="submit">Login</button>
                                <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a [routerLink]="'/register'" style="color: #393f81;">Register here</a></p>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>